body{
    background-image:url(images/bg\ image.jpg);
}

.form-container{
    background-color: #969090;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin:50px auto;
}